.my_auth_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_auth_form_box {
    width: 600px;
    border: 1px solid rgb(185, 185, 185);
    padding: 70px;
}

.my_auth_form_security_box {
    width: 800px;
    border: 1px solid rgb(185, 185, 185);
    padding: 70px;
}

.my_auth_form_box_link {
    display: flex;
    justify-content: space-between;
}

.my_auth_form_box_title {
    color: rgb(25, 25, 25);
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0;
}

.my_auth_form_box_sub_title {
    color: rgb(155, 154, 154);
    padding-bottom: 10px;
}

.my_auth_form_box_info {
    font-size: 20px;
    font-weight: 600;
}

.my_auth_form_box_security {
    font-size: 20px;
    font-weight: 600;
}

.my_auth_form_box_info_detail {
    width: 100px;
    line-height: 60px;
}

.my_auth_form_box_info_detail_email {
    width: 150px;
    line-height: 60px;
}

.my_auth_form_box_info_security_detail {
    width: 150px;
    line-height: 60px;
}

.my_auth_form_box_security_password {
    line-height: 40px;
    padding-right: 265px;
}

.my_auth_form_box_security_leave {
    line-height: 40px;
    padding-right: 300px;
}

.my_auth_form_box_security_update {
    line-height: 40px;
    padding-right: 300px;
}

.my_auth_form_box_input {
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.my_auth_form_box_input:focus {
    outline: none;
    border-bottom: 2px solid black;
}
